# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_RCORNE_LEFT
	def_bool $(shields_list_contains,rcorne_left)

config SHIELD_RCORNE_RIGHT
	def_bool $(shields_list_contains,rcorne_right)
